<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

</head>
<body>
    <p>===================================</p>
    {%for p in personas%}
    <p><b>NOMBRE : </b>{{p.nombre.upper}}</p>
    <p><b>APELLIDO : </b>{{p.apellido.upper}}</p>
    <p><b>NACIMIENTO : </b>{{p.nacimiento}}</p>
    <p><b>EDAD : </b>{{p.edad}}</p>
    <p>===================================</p>
    {%endfor%}
 
</body>
</html>